@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-image: url("../images/bkg1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-bg-services {
  background-image: url("../images/bkg2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-bg-transactions {
  background-image: url("../images/bkg3.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-bg-footer {
  background-image: url("../images/bkg4.jpg");
  filter: contrast(200%);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color:#a099ff;
  background-image: 
    radial-gradient(at 83% 67%, rgb(212, 248, 10) 0, transparent 58%), 
    radial-gradient(at 67% 20%, rgb(38, 243, 82) 0, transparent 59%), 
    radial-gradient(at 88% 35%, rgb(74, 127, 250) 0, transparent 50%), 
    radial-gradient(at 31% 91%, rgb(252, 70, 237) 0, transparent 52%), 
    radial-gradient(at 27% 71%, rgb(11, 38, 49) 0, transparent 49%), 
    radial-gradient(at 74% 89%, rgb(51, 51, 45) 0, transparent 51%), 
    radial-gradient(at 53% 75%, rgb(25, 6, 70) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
